.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    background-color: rgb(240, 246, 250);
    position: sticky;
    top: 50px;
  }
  
  .sidebarWrapper {
    padding: 20px;
    color: rgb(16, 12, 12);
  }
  
  .sidebarMenu {
    margin-bottom: 10px;
  }
  
  .sidebarTitle {
    font-size: 17px;
    color: rgba(149, 26, 26, 0.941);
  }
  
  .sidebarList {
    list-style: none;
    padding: 5px;
  }
  
  .sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
  
  .sidebarListItem.active,
  .sidebarListItem:hover {
    background-color: rgb(242, 159, 235);
  }
  
  .sidebarIcon{
      margin-right: 5px;
      font-size: 20px !important;
  }